<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <div class="container">
    {% block main %}
    {% endblock %}
  </div>

  {% block footer %}
  {% endblock %}

</body>
</html>
