{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<div class="row">
	<div class="col">
	</div>
	<div class="col-10">
		<form class="GET">
			<input class="searchfield" name="q" value="{{ request.GET.q }}" placeholder="CEP, bairro ou cidade"/>
			<button type="submit">Search</button>
		</form>
		<h1>Listagem de Imóveis</h1>
		<a href="{% url 'imovel_list' %}">  Home  </a> 
		<a href="{% url 'imovel_create' %}">  Novo  </a> 	
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col"></th>
		      <th scope="col">Descrição</th>
		      <th scope="col">Cidade</th>
		      <th scope="col">Bairro</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for imovel in imovel_list %}
			    <tr>
			      <th scope="row">{{ imovel.pk }}</th>
			      <td><a href="{% url 'imovel_detail' imovel.pk %}">{{ imovel.titulo }}</a></td>
			      <td>{{ imovel.cidade }}</td>
			      <td>{{ imovel.bairro }}</td>
			      <td><img src="{{ imovel.image_url|default_if_none:'#' }}"></td>
			    </tr>
			{% endfor %}
		  </tbody>
		</table>

	</div>
	<div class="col">
	</div>
</div>

{% endblock %}