{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<form action="" method="post">{% csrf_token %}
    <p>Tem certeza que deseja excluir imóvel "{{ object.titulo }}"?</p>
    <input type="submit" value="Confirm" />
</form>
{% endblock %}