{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
<h2>Editar Imóvel</h2>
<h4>(Entre com um CEP real)</h4>

	<form action="" method="post" enctype="multipart/form-data">           
		{% csrf_token %}
    	{{ form.as_p }}
    	<input type="submit" value="Update" />
	</form>
	<script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
	<script>
		$("#id_cep").blur(function(){
			var cep = this.value.replace(/[^0-9]/, "");
			if(cep.length != 8){
				return false;
			}
			var url = "http://viacep.com.br/ws/"+cep+"/json/";
			$.getJSON(url, function(dadosRetorno){
				try{
					$("#id_logradouro").val(dadosRetorno.logradouro);
					$("#id_bairro").val(dadosRetorno.bairro);
					$("#id_cidade").val(dadosRetorno.cidade);
					$("#id_cidade").val(dadosRetorno.localidade);
					$("#id_uf").val(dadosRetorno.uf);
				}catch(ex){}
			});
		});
	</script>

{% endblock %}