{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}

<h1>{{ imovel.titulo }}</h1>
<h2>R$ {{ imovel.valor }}<br>
{{ imovel.descricao }}<br>
{{ imovel.cep }}<br>
{{ imovel.bairro }}<br>
{{ imovel.cidade }}<br>
{{ imovel.logradouro }}<br>
{{ imovel.numero }}<br>
{{ imovel.complemento }}<br>

<img src="{{ imovel.image_url }}">
<a href="{% url 'imovel_update' imovel.pk %}">Editar</a>
<a href="{% url 'imovel_list' %}">Home</a>
<a href="{% url 'imovel_delete' imovel.pk %}">Deletar</a>
{% endblock %}